@import url('root.css');
@import url('layouts.css');
@import url('responsive-design.css');

#app
{
    /* height: 100vh; */
    background-color: rgb(119, 95, 64);
}

main
{
    height: 650px;
    width: 100%;
}

header
{
    height: 80px;
    background-color: black;
}

footer
{
    height: 80px;
    background-color: black;
}

.clock-widget
{
    overflow-y: auto;
    /* width: 400px;
    padding: 1rem; */
}

canvas
{
    background-color: aliceblue;
    /* width: 100% !important; */
}