@import url('root.css');
@import url('layouts.css');
@import url('responsive-design.css');

#app
{
    /* height: 100vh; */
    background: linear-gradient(to left,rgb(65, 42, 15),rgb(59, 34, 1),rgb(145, 86, 10));
}

main
{
    height: 650px;
    width: 100%;
}

header
{
    height: 80px;
    background-color: black;
}

footer
{
    height: 80px;
    background-color: black;
}

.clock-widget
{
    overflow-y: auto;
    border-radius: 1rem;
    background-color: white;
    /* width: 400px;
    padding: 1rem; */
}

canvas
{
    /* width: 100% !important; */
}